
{% extends 'base.html' %}
{% block content %}
<h1>Change Goods</h1>
    <form method="post">
        {% csrf_token %}
        <label for="seller_goods">Select a Seller-Good:</label>
        <select name="seller_goods" id="seller_goods">
            {% for seller_good in seller_goods %}
                <option value="{{ seller_good.id }}">{{ seller_good.goods.name }} - Seller: {{ seller_good.seller.name }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="price">New Price:</label>
        <input type="number" name="price" step="0.01">
        <br>
        <label for="quantity">New Quantity:</label>
        <input type="number" name="quantity">
        <br>
        <button type="submit">Change</button>
    </form>
{% endblock %}